<p><%= @position %>/<%= @practice.questions.count %></p>

<h1>Question: <%= @question.question %></h1>
<p>Answer: <%= @question.correct_answer %></p>
<p>Explanation: <%= @question.explanation %></p>

<% if @previous_question %>
  <%= link_to "Previous question", question_path(@previous_question), class: "btn btn-secondary" %>
<% end %>

<% if @next_question %>
  <%= link_to "Next question", question_path(@next_question), class: "btn btn-primary" %>
<% end %>
