<p><%= @position %>/<%= @practice.questions.count %></p>

<h1>Question: <%= @question.question %></h1>
<p>Answer: <%= @question.correct_answer %></p>
<p>Explanation: <%= @question.explanation %></p>

<%= link_to "Previous question", "#" %>
<%= link_to "Next question", "#" %>
