<h1>Add a Student</h1>

<%= form_with model: [@user, @student] do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :year_group_id, "Year Group" %><br>
    <%= f.collection_select :year_group_id, year_group_id.all, :id, :name %>
  </p>


  <%= f.submit "Save Student" %>
<% end %>

<hr>

<%= link_to "Back", family_path %>
