<h1>Add a Student</h1>

<%= form_with model: [@user, @student] do |f| %>
  <p>
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :year_group_id, "Year Group" %><br>
    <%= f.collection_select :year_group_id, YearGroup.all, :id, :name, prompt: "Select a year group" %>
  </p>


  <%= f.submit "Save Student" %>
<% end %>

<hr>

<%= link_to "Back", family_path %>
