<h1>Add Student</h1>

<%= form_with model: [@user, @student] do |f| %>
  <div>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :yeargroup, "Year Group" %><br>
    <%= f.number_field :yeargroup %>
  </div>

  <div>
    <%= f.submit "Add Student" %>
  </div>
<% end %>
