<h1><%= @student.name %></h1>

<%= render 'layouts/section_header',
  title: "#{@student.name}'s Streak",
  button_label: "Generate practice",
  button_path: student_practices_path(@student),
  button_method: :post %>
<ol>
<% @student.practices.order(:created_at).each_with_index do |practice, index| %>
  <li>
    Practice <%= index + 1 %> - <%= practice.score %>/10
  </li>
<% end %>
</ol>
<%= @student || student %>
