<h1><%= @student.name %></h1>

<%= render 'layouts/section_header',
  title: "#{@student.name}'s Streak",
  button_label: "Generate practice",
  button_path: student_practices_path(@student) %>
<ol>
<% @student.practices.each do |practice|%>
<li>
  practice <%= practice.id %> - <%= practice.score%>/10
</li>
<%end%>
<%= @student || student %>
